// src/styles/global.scss

@import './styles/modules.scss';
@import './styles/variables.scss';

:global() { // svelte에서 글로벌 스타일을 지정할 때 이렇게 작성한다
  html {
    font-size: 62.5%;
  }

  body {
    background: $body-background-color;
    font-size: 1.4rem;
    color: $body-text-color;
  }

  div {
    box-sizing: border-box;
  }

  li {
    list-style: none;
  }
}